/* Estilos del Swiper (galería de proyectos) */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: #00FFFF;
}

.swiper-pagination-bullet-active {
  background: #00FFFF;
}